*{
    font-family: 'Montserrat', sans-serif;
}

body{
    display: grid;
    grid-template-areas: 'header header header'
    'nav nav nav'
    'main main main'
    'footer footer footer';
    grid-gap:0px;
    grid-auto-rows:minmax(auto,auto);
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows:auto;
    
   


    
}
header{
    grid-area: header;
    width:100%;
    background-image: linear-gradient(rgb(8, 8, 95),navy, navy)
;
    height:min-content;
    text-align: center;
    color: aliceblue;
    ;
    margin-bottom: 0px;
}

nav{
    grid-area: nav;
    margin-top: 0px;
    padding: 0px;
}

main{
    grid-area: main;
}
.portrait{
    height:100px;
    border-radius: 100px;
    
}
p{
    align-content: ;
}